#me {
    margin-top: 7px;
    margin-bottom: 8px;
    margin-right: 25px;
    width: 35%;
    float: left;
    border: none;
}

.clearfix {
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix p {
  font-family: roboto;
  font-weight: 200;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.2px;
}