#me {
    margin-top: 7px;
    margin-bottom: 10px;
    margin-right: 25px;
    width: 35%;
    float: left;
}

.clearfix {
    margin-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}