@font-face {
    font-family: biko;
    src: url(../fonts/Biko_Regular.otf);
}
@font-face {
    font-family: lane;
    src: url(../fonts/Gravity-Light.otf);
}

html {
  color: white;
  background-color: black;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: -8px;

  background-image: url("../images/trees.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size: 100%;

  -webkit-filter: brightness(75%); /* Safari */
  filter: brightness(75%);

  opacity: 0;
  -webkit-animation: fadein 5s forwards; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 5s forwards;
}

.container{
   position: absolute;
   z-index: 9999;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}

.content {
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;

  opacity: 0;
  -webkit-animation: fadein 3s forwards; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 3s forwards;
}

#upper-line {
  width: 80%;
  height: 40px;
}

#lower-line {
  width: 80%;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.button-row {
  margin: 0 auto;

  opacity: 0;
  -webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s forwards;
  -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
  animation-delay: 1.5s;
}

.button-row td {
  padding: 0 10px 10px;
}

.menu-button {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border: 1px solid #ffffff;
  outline: none;

  background-color: Transparent;
	color: #ffffff;
  font-family: lane;
  letter-spacing: 2px;

	padding-top: 12px;
	padding-bottom: 12px;
  width: 120px;
}

.menu-button:hover {
	background: rgba(255, 255, 255, .2);
}

.menu-button:focus {
  border-color: white;
}

.menu-button:active {
	position:relative;
	top:2px;
}

hr {

}

h1 {
  opacity: 0;
  -webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s forwards;

  font-family: biko;
  font-size: 50px;
  font-weight: 10;
  letter-spacing: 0.15em;
  text-align: center;
}

h3 {
  opacity: 0;
  -webkit-animation: fadein 2s forwards; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s forwards;

  font-family: lane;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 4px;
  text-align: center;
}