@font-face {
    font-family: biko;
    src: url(../fonts/Biko_Regular.otf);
}
@font-face {
    font-family: lane;
    src: url(../fonts/Gravity-Light.otf);
}

html {
  font-family: biko;
  color: white;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: -8px;
  background-image: url("../images/bg.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size:100%;
}

.container{
   position: absolute;
   z-index: 9999;
   top: 50%;
   margin-top: -200px;/* half of #content height*/
   left: 0;
   width: 100%;
}

.content {
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
}

hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px auto;
    padding: 0;
}

h1 {
  font-size: 50px;
  font-weight: 10;
  letter-spacing: 0.15em;
  text-align: center;
}

h3 {
  font-family: lane;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 4px;
  text-align: center;
}